# Database
DATABASE_URL="postgresql://postgres:Explore%23360@localhost:5432/360_explorer_db"

# Razorpay Payment Gateway
RAZORPAY_KEY_ID="rzp_test_Sxb8u7emAWdLW8"
RAZORPAY_KEY_SECRET="QvRVFJjcwPcbbycL3xN3sCz5"

# SMTP Configuration (for sending confirmation emails)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_SECURE="false"
SMTP_USER="nitanshu.bhor20@gmail.com"
SMTP_PASS="pzkokuhfcgpfaube"

# Server Configuration
PORT="5001"
